input[type="checkbox"] {
    width: 60px;
    height: 30px;
    position: relative;
    appearance: none;
    background-color: skyblue;
    border-radius: 15px;
}

input:checked[type="checkbox"] {
    transition: 1s;
    background-color: #252850;
}

input:unchecked[type="checkbox"] {
    transition: 1s;
    background-color: skyblue;
}

input[type="checkbox"]::before {
    content: "🌞";
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: skyblue;
    transition: 1s;
    transform: scale(1.1);
    line-height: 30px;
    border-radius: 15px;
}

input:checked[type="checkbox"]::before {
    left: 30px;
    content: "🌛";
    background-color: #252850;
    transition: 1s;
}

input[type="checkbox"]:hover:before {
    border: solid black 1px;
}