* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    min-height: 100%;
    display: grid;
    gap: 1px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.5px;
    background: linear-gradient(pink, lightskyblue);
}

h1,
h2,
h3,
linethrough-outer {
    margin-top: 5px;
    margin-bottom: 5px;
}

.photo,
.about-details,
.main {
    padding: 10px 15px;
}

.main,
.about {
    margin: 1px;
}

header {
    background-color: rgba(211, 211, 211, 0.897);
}

.about {
    background: whitesmoke;
    flex-direction: column;
}

.ul-about {
    list-style: None;
}

.ul-about>li {
    margin: 10px 30px 10px 0;
    border-right-style: dotted;
    padding-right: 15px;
    display: inline-block;
}

.mark>li {
    margin-bottom: 8px;
    list-style-type: none;
}

.mark>li:before {
    content: '✔';
    margin-right: 10px;
}

.time-period {
    vertical-align: top;
    padding: 10px;
}

.page-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    display: flex;
    height: 30px;
    margin: 0 10px;
}

.nav-item {
    margin-left: 5px;
}

.page-main {
    display: flex;
    flex-direction: row;
}

@media all and (max-width: 700px) {
    .page-main {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 700px) and (min-width: 500px) {
    .about {
        display: flex;
        flex-direction: row;
    }
}

.main {
    background-color: white;
}

.avatar {
    border-radius: 50%;
    border: 5px solid white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

tr:nth-child(odd) {
    outline: 1px solid #666;
}

tr:nth-child(even) {
    outline: 1px solid #777;
}

.dark {
    background-color: darkblue;
}

.light {
    background-color: lightskyblue;
}

.page-footer {
    min-height: 20px;
    padding: 20px;
    color: white;
    background-color: rgba(180, 180, 180);
    background-image: linear-gradient(45deg, lightgray 25%, transparent 25%), linear-gradient(-45deg, lightgray 25%, transparent 25%), linear-gradient(135deg, lightgray 25%, transparent 25%), linear-gradient(-135deg, lightgray 25%, transparent 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
}

.page-footer ul {
    margin: 0;
    margin-left: 15px;
    padding: 0;
    list-style: none;
}

.page-footer li {
    display: inline-block;
    margin-right: 1em;
}