html {
    height: 100%;
}

body {
    font-family: "Georgia", "Arial", sans-serif;
    margin: 0;
    height: 100%;
    background-color: lightgray;
}

h1,
h2,
h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

header {
    background: darkgrey;
}

.time-period {
    vertical-align: top;
    padding: 10px;
}

.page-header {
    display: flex;
    align-items: center;
}

.header-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    display: flex;
    height: 30px;
    background-color: seagreen;
}

.nav-item {
    border: 1px solid pink;
}

.page-main {
    display: flex;
    flex-direction: row;
}

@media all and (max-width: 500px) {
    .page-main {
        display: flex;
        flex-direction: column;
    }
}

.about {
    background-color: gray;
}

.main {
    background-color: lightgray;
}

.avatar {
    border-radius: 50%;
    border: 5px solid white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about,
.main {
    padding: 10px;
}